{% extends "layout.html" %}

{% block title %}Edit Vacation{% endblock title %}
{% block content %}
<form method="post" class="forms" enctype="multipart/form-data" id="vacationForm">
    <div>
        <h1 class="form-title"><strong>Edit Vacation</strong><br>#{{ vacation.vacation_id }} - {{ vacation.country_id }}</h1>
    </div>
    
    <input type="hidden" value="{{ vacation.vacation_id }}" name="vacation_id" id="vacation_id" required>

    <div class="form-floating mb-3">
        <select class="form-select" name="country_id" id="country_id" required>
            {% for country_name, country in countries.__members__.items() %}
                <option value="{{ country.value }}" {% if vacation.country_id == country.value %}selected{% endif %}>
                    {{ country_name.replace('_', ' ') }}
                </option>
            {% endfor %}
        </select>
        <label for="country_id">Country</label>
    </div>
    
    <div class="form-floating mb-3">
        <textarea class="form-control" name="vacation_info" id="vacation_info" placeholder="Description" rows="10">{{ vacation.vacation_info }}</textarea>
        <label for="vacation_info">Description</label>
    </div>

    <div class="form-floating mb-3">
        <input type="date" class="form-control" value="{{ vacation.vacation_start }}" name="vacation_start" id="vacation_start" placeholder="Vacation Start Date" required>
        <label for="vacation_start">Vacation Start Date</label>
    </div>

    <div class="form-floating mb-3">
        <input type="date" class="form-control" value="{{ vacation.vacation_end }}" name="vacation_end" id="vacation_end" placeholder="Vacation End Date" required>
        <label for="vacation_end">Vacation End Date</label>
    </div>

    <div class="form-floating mb-3">
        <input type="number" class="form-control" value="{{ vacation.price }}" name="vacation_price" id="vacation_price" placeholder="Price" min="1" max="10000" required>
        <label for="vacation_price">Price</label>
    </div>

    <div class="form-floating mb-3">
        <input type="file" class="form-control" name="add_image" id="add_image" accept="image/*">
        <label for="add_image">Add Image</label>
        <div id="image_preview" class="image-preview mt-2">
            <img id="preview" src="" alt="Image Preview" style="display: none; max-width: 100%; height: auto;">
        </div>
    </div>

    <button type="submit" class="btn btn-warning w-100">Update</button>
</form>
{% endblock content %}
