{% extends "layout.html" %}

{% block title %}Vacation Details{% endblock title %}

{% block content %}
<div class="details-container">
    <div class="details-textbox">
        <h1 class="details-header-style">#{{ vacation.vacation_id }} - {{ vacation.country_id }}</h1>
        <p class="details-dates-style">{{ vacation.vacation_start }} - {{ vacation.vacation_end }}</p>
        <p class="details-info-style">{{ vacation.vacation_info }}</p>
        <img src="{{ url_for('vacations_view.get_image', image_name=(vacation.pic_name if vacation.pic_name else '---')) }}" alt="Vacation Image" height="100" width="200">
    </div>
    <img src="{{ url_for('static', filename='images/Chocotours_Logo.png') }}" class="details-logo" alt="Logo Image">
</div>
<a href="{{ url_for('vacations_view.list') }}" class="back-link">All vacations</a>
{% endblock content %}
